   /* PROJECT CARDS */
    .project-card {
        background: var(--dark-card);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
        border: 1px solid #222;
        transition: 0.3s ease;
        animation: fadeIn 1.2s ease forwards;
    }

    .project-card:hover {
        border-color: var(--neon-purple);
        box-shadow: 0 0 20px rgba(168, 85, 247, 0.6);
        transform: translateY(-6px);
    }

    .project-card h3 {
        color: var(--neon-purple);
        margin-top: 0;
        text-shadow: 0 0 10px rgba(168, 85, 247, 0.8);
    }

    footer {
        backdrop-filter: blur(4px);
        text-align: center;
        color: #777;
        padding: 20px;
        margin-top: 50px;
        border-top: 1px solid #222;
    }
    #particle-bg {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none; /* allows clicks through canvas */
}

  .project-title {
    cursor: pointer;
}

.project-details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 
        max-height 0.4s ease,
        opacity 0.3s ease;
}

.project-card.active .project-details {
    max-height: 300px;
    opacity: 1;
}

.project-card.active {
    border-color: var(--neon-cyan);
    box-shadow: 0 0 25px rgba(94, 21, 238, 0.6);
}